.wrapper {
  padding-top: 50px;
  background: linear-gradient( rgb(143, 161, 221) , rgb(206, 204, 204));
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
